'context-menu':
  'atom-text-editor': [
    {
      'label': 'PlantUML'
      'submenu': [
          {
              'label': 'Preview'
              'command': 'plantuml-toolkit:togglePreview'
          }
      ]
    }
  ]
  '.tree-view .directory': [
    {
      'label': 'PlantUML'
      'submenu': [
        {
          'label': 'Generate PNG'
          'command': 'plantuml-toolkit:generatePNG'
        }
        {
        'label': 'Generate SVG'
        'command': 'plantuml-toolkit:generateSVG'
        }
        {
        'label': 'Generate TXT'
        'command': 'plantuml-toolkit:generateTXT'
        }
      ]
    }
  ]
  '.plantuml-toolkit': [
    {
      'label': 'Toggle Zoom To Fit'
      'command': 'plantuml-toolkit:preview-zoom-fit'
    }
    {
      'label': 'Zoom In'
      'command': 'plantuml-toolkit:preview-zoom-in'
    }
    {
      'label': 'Zoom Out'
      'command': 'plantuml-toolkit:preview-zoom-out'
    }
    {
      'label': 'Reset Zoom'
      'command': 'plantuml-toolkit:reset-zoom'
    }
  ]
  '.plantuml-toolkit .uml-image': [
    {
      'label': 'Copy Diagram'
      'command': 'plantuml-toolkit:copy-image'
    }
  ]
  '.plantuml-toolkit .copy-filename': [
    {
      'label': 'Copy Filename'
      'command': 'plantuml-toolkit:copy-filename'
    }
  ]
  '.plantuml-toolkit .open-file': [
    {
      'label': 'Open Diagram'
      'command': 'plantuml-toolkit:open-file'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'PlantUML'
      'submenu': [
        {
          'label': 'Preview'
          'command': 'plantuml-toolkit:togglePreview'
        }
      ]
    ]
  }
]
